streamlit
tensorflow==2.19.0
numpy
opencv-python-headless==4.10.0.84
Pillow
sarvamai
langchain
langchain-community
langchain-huggingface
faiss-cpu
sentence-transformers
transformers
torch
torchvision
python-dotenv
pypdf

